	body {
		background-image: url("../images/fondo.jpg"); 
	}

	a {
		text-decoration: none;
		text-decoration-color: black;
	}

	p {
		margin-left: 10px;
		margin-right: 10px;
	}

	#borde {
		border: solid;
		margin-right: 1%;
		margin-left: 1%;
		margin-top: 1%;
	}

	.header {
		background-color: lightcyan;
		text-align: center;
		padding: 1%;
	}

	#todo {
		align-content: center;
		background-size: cover;
		margin: auto;
		height: 1950px;
		width: 950px;
		border: solid;
		border-color: black;
	}

	#titulo1 {
		text-align: center;
		color: white;
		background-color: lightblue;
		padding: 3%;
		margin-top: -0px;
	}

	#titulo3 {
		padding-top: 20px;
		margin-left: 10px;
	}

	#titulo4 {
		padding-top: 20px;
		text-align: right;
		margin-right: 10px;
	}

	.section {
		width: 950px;
		background-color: lightblue;
		margin-top: -10px;
	}

	#nav {
		padding: 2.25px;
		margin-right: 50px;
	}

	footer {
		background-color: lightcyan;
		color: black;
		text-align: center;
		margin-top: -11px;
	}

	#imagen {
		width: 100px;
		height: 100px;
		margin: 2%;
		border: solid;
		padding: 3px;
	}

	#formulario {
		margin: 10px 10px 20px 20px;
	}

	#crol {
		float: left;
		margin: 2%;
		border: solid;
		padding: 1%;
		height: 200px;
		width: 300px;
	}

	#braza {
		float: left;
		margin: 2%;
		border: solid;
		padding: 1%;
		height: 200px;
		width: 300px;
	}

	#espalda {
		float: right;
		margin: 2%;
		border: solid;
		padding: 1%;
		height: 200px;
		width: 300px;
	}

	#mariposa {
		float: right;
		margin: 2%;
		border: solid;
		padding: 1%;
		height: 200px;
		width: 300px;
	}

	#casa {
		width: 30px;
		height: 30px;
	}

	#cabezera {
		height: 150px;
		width: 950px;
	}